// layout

.wrapper {
    width: 100%;
    overflow: hidden;

    &--gray {
        background-color: $bgWhite;
    }
}

.container{
    width: 1200px;
    max-width: 100%;
    margin: 0px auto;

    @media #{$screen-320} {
        padding: 0;
    }

    @media #{$screen-768} {
        padding: 0 20px;
    }

    @media #{$screen-1024} {
        padding: 0 40px;
    }

    z-index: 0;
}

.row {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    overflow: hidden;
    align-items: flex-start;
    justify-content: center;
}

.center {
    text-align: center;
}