// screens (mobile-first)
$screen-1920: "only screen and (min-width : 1920px)";
$screen-1800: "only screen and (min-width : 1800px)";
$screen-1600: "only screen and (min-width : 1600px)";
$screen-1400: "only screen and (min-width : 1400px)";
$screen-1200: "only screen and (min-width : 1200px)";
$screen-1080: "only screen and (min-width : 1080px)";
$screen-1024: "only screen and (min-width : 1024px)";
$screen-992: "only screen and (min-width : 992px)";
$screen-850: "only screen and (min-width : 850px)";
$screen-650: "only screen and (min-width : 650px)";
$screen-630: "only screen and (min-width : 630px)";
$screen-768: "only screen and (min-width : 768px)";
$screen-568: "only screen and (min-width : 568px)";
$screen-480: "only screen and (min-width : 480px)";
$screen-420: "only screen and (min-width : 420px)";
$screen-380: "only screen and (min-width : 380px)";
$screen-320: "only screen and (min-width : 320px)";

// colors
$white: rgb(255, 255, 255);
$black: rgb(0, 0, 0);
$bgWhite: rgb(243, 243, 243);

$dark: #242424;
$red: #C93D38;
$darkOcher: #DCAD93;
$lightOcher: #EBD0AB;
$superlightOcher: #f2ebe1;

// fonts
$textFont: 'Raleway', sans-serif;
$headingFont: 'Caladea', serif;
